body{
     background-image: url("/images/pexels-robert-anthony-carbone-598966.jpg");
     background-size:cover;
     }
label{
    user-select: none;
}
input[type="radio"] {
    display: none;
}
input[type="radio"] + label {
    margin: 0 10px 10px 0;
    position: relative;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    background-color: #000000;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}
input[type="radio"]:checked + label {
    color: #495057;
    background-color: #ced4da;
}
input[type="radio"] + label {
    padding: 5px 20px;
    border-radius: 10px;
}